.nav-menu {
    display: flex;
    flex-direction: column;
}

.top-row {
    min-height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand {
    font-size: 1.35rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
}

.navbar-brand span {
    font-weight: 300;
    opacity: 0.8;
}

.navbar-brand .bi {
    font-size: 1.4rem;
    opacity: 0.9;
}

.bi {
    margin-right: 0.5rem;
    font-size: 1.1rem;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
}

.nav-item ::deep a.active {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}