.notfound-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(180deg, var(--bs-secondary) 0%, var(--bs-primary) 100%);
}
